@model IncediosWebAPI.Model.DataTransfer.UsuarioDetails

<div class="d-block ms-3">

    <h1>Detalles</h1>

    <div>
        <h4>Usuario @Model.User.Rut-@Model.User.Dv</h4>
        <hr />
        <div class="d-flex">
            <div class="w-50 gd-7x2">
                <p>@Html.DisplayNameFor(model => model.User.Nombre)</p>
                <p>@Html.DisplayFor(model => model.User.Nombre)</p>
                <p>@Html.DisplayNameFor(model => model.User.Genero)</p>
                <p>@Html.DisplayFor(model => model.User.Genero)</p>
                <p>@Html.DisplayNameFor(model => model.User.FechaNacimiento)</p>
                <p>@Html.DisplayFor(model => model.User.FechaNacimiento)</p>
                <p>@Html.DisplayNameFor(model => model.User.Piso)</p>
                <p>@Html.DisplayFor(model => model.User.Piso)</p>
                <p>@Html.DisplayNameFor(model => model.User.EsMonitor)</p>
                <p>@Html.DisplayFor(model => model.User.EsMonitor)</p>
                <p>@Html.DisplayNameFor(model => model.User.Departamento)</p>
                <p>@Html.DisplayFor(model => model.User.Departamento.Nombre)</p>
                <p>Roles</p>
                <p>
                @foreach(IncediosWebAPI.Model.AppRoles roles in Enum.GetValues(typeof(IncediosWebAPI.Model.AppRoles)))
                {
                    if(roles == IncediosWebAPI.Model.AppRoles.None)
                    {
                        continue;
                    }

                    if(Model.User.Roles.HasFlag(roles))
                    {
                        string span = $"{roles} | ";
                        @span
                    }
                }
                </p>
            </div>
            <div class="w-50 gd-2x2">
                <div class="stat-card">
                    <h4>@Model.PlayedRuns</h4>
                    <p>Partidas Jugadas</p>
                </div>
                <div class="stat-card">
                    <h4>@Model.TimePlayed</h4>
                    <p>Tiempo Jugado</p>
                </div>
                <div class="stat-card">
                    <h4>@Model.AverageExtintionRatio</h4>
                    <p>Ratio de Extinción Promedio</p>
                </div>
                <div class="stat-card">
                    <h4>@Model.DamagePerRuns</h4>
                    <p>Heridas Promedio por Partida</p>
                </div>
            </div>
        </div>
        
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.User.Rut">Editar</a> |
        <a asp-action="Index">Volver</a>
    </div>
</div>
